@charset "UTF-8";

#viewer {
  width: 100%;
  max-width: 1080px;
  height: 600px;
  border: 1px solid #ccc;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  background-color: #e4f7ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1); /* 입체감을 위한 그림자 추가 */
}

.nav--button {
  position: absolute;
  top: 47%;
  transform: translateY(-50%) scale(1, 1.5);
  background-color: transparent;
  color: rgba(128, 128, 128, 0.8);
  border: none;
  font-size: 48px;
  line-height: 1.8;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* 콘텐츠보다 앞에 표시되도록 설정 */
  opacity: 0; /* 기본적으로 숨김 */
  transition: opacity 0.3s ease, color 0.3s ease; /* 색상 및 투명도 변화 애니메이션 */
}

.nav--button::before {
  content: "";
  position: absolute;
  top: -30px; /* 위로 20px 확장 */
  bottom: -30px; /* 아래로 20px 확장 */
  left: -30px; /* 왼쪽으로 20px 확장 */
  right: -30px; /* 오른쪽으로 20px 확장 */
  z-index: -1; /* 실제 버튼 위에 그려지지 않도록 설정 */
}

.nav--button:hover {
  opacity: 1;
  color: rgba(64, 64, 64, 1);
}

.left--arrow {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.right--arrow {
  right: 0;
  border-radius: 5px 0 0 5px;
}

#viewer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px; /* 중앙 음영의 너비 */
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  transform: translateX(-50%);
  z-index: 5;
}
/* width 800px 이하일 때 중앙 그림자 제거 */
@media (max-width: 800px) {
  #viewer::before {
    content: none; /* 중앙 그림자 제거 */
  }
}

/* 진행도 바 컨테이너 */
.progress--container {
  position: absolute;
  width: 100%;
  background-color: #e0e0e0;
  height: 10px;
  left: 0;
  bottom: 0;
  z-index: 15; /* 진행도 바가 다른 요소 위에 표시되도록 z-index를 높게 설정 */
  cursor: pointer;
}

/* 진행도 바 */
.progress--bar {
  width: 0%; /* 초기 상태에서 0%로 설정 */
  height: 100%;
  background-color: #76c7c0; /* 진행도를 나타낼 색상 */
  transition: width 0.3s ease; /* 진행도 변화 애니메이션 */
}

.progress--bar.completed {
  width: 0%; /* 초기 상태에서 0%로 설정 */
  height: 100%;
  background-color: #4CAF50; /* 진행도를 나타낼 색상 */
  transition: width 0.3s ease; /* 진행도 변화 애니메이션 */
}

/* 툴바 컨테이너 및 토글 버튼 */
.toolbar--container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 컨테이너의 전체 너비를 차지 */
}
.toolbar--circle {
  display: flex;
  margin-top: 10px;
  margin-left: calc(50% - 535px); /* 뷰어가 1080px일 때 뷰어 아래에 위치 */
}
@media (max-width: 1080px) {
  .toolbar--circle {
    margin-left: 10px; /* 뷰어가 1080px 이하일 때 버튼을 왼쪽에 고정 */
  }
}

#savePage {
  margin-top: 10px;
  margin-right: calc(50% - 535px);
}

.toolbar--btn {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px; /* 텍스트 크기 조정 */
  line-height: 20px;
  padding: 5px 10px; /* 버튼 내 패딩 조정 */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: auto; /* 버튼 크기 조정 */
   /* 버튼 크기 조정 */
}

.toolbar--content {
  display: none;
  margin-left: 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.toolbar--circle.active .toolbar--content {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.toolbar--section {
  display: flex; /* 옆으로 펼쳐지도록 flexbox 사용 */
  flex-direction: row;
  align-items: center; /* input과 버튼이 수직 중앙 정렬되도록 */
}

.toolbar--section input {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white; /* 기본 배경색으로 설정 */
  color: black; /* 기본 텍스트 색상 */
  margin-right: 5px; /* 버튼과의 간격 조정 */
}

.toolbar--section button {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 83px;
  height: 25px;
  padding: 1px;
  margin-right: 5px;
}
#goToPage {
	width: 30px;
}
#pageInput {
	width: 60px;
}
#prevResult,
#nextResult {
  width: 30px;
}
#searchCounter {
  margin-right: 5px;
  height: 25px;
  line-height: 13px;
  background-color: white;
  color: black;
  border: 1px solid black;
}